body{
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    overflow: scroll;
    font-family: 'Courier New', Courier, serif;
  }
hr{
    border-color: #A3DA8D;
    border-style: dotted none none;
    border-width: 5px;
    width: 80%
}
img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
a{
    text-decoration: none;
}